.contact_container {
  background: rgb(54, 50, 50);
  padding: 120px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact_container h2 {
  color: #ff512f;
  -webkit-text-stroke: 2px #f09819;
  text-shadow: 1px 1px 1px rgb(96, 96, 96);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 100px 40px 100px;
}

.contact_info p {
  font-size: 20px;
  font-weight: bold;
  color: lightgray;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_info {
  margin-top: 85px;
}

.footer {
  background: linear-gradient(to right, rgb(54, 50, 50), #979899);
  color: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .map {
    display: none;
  }

  .contact_container {
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
  }

  .contact_container h2 {
    margin: 10px 0;
  }

  .contact_info {
    padding: 0 35px 0 35px;
  }
}
