.services {
  background: rgb(54, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.services_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.services_card {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 1px 1px 1px rgb(96, 96, 96);
  background: linear-gradient(to right, rgb(54, 50, 50), #979899);
  transition: 0.3s ease-in;
}

.services_card:nth-child(2) {
  background: linear-gradient(to right, #ff512f, #f09819);
}

.services_card:nth-child(3) {
  background: linear-gradient(to right, rgb(54, 50, 50), #979899);
}

.services_card:nth-child(4) {
  background: linear-gradient(to right, #ff512f, #f09819);
}

.services_card h2 {
  text-align: center;
  margin-top: 10px;
}

.services_card p {
  text-align: center;
  margin: 10px 20px -10px 20px;
  font-size: 20px;
}

.services_card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

.services_img {
  margin-top: -140px;
}

.services_img_4 {
  padding-top: -50px;
  margin-top: -250px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) and (max-width: 1080px) {
  .services_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .services_card:hover {
    transform: none;
    transition: none;
  }

  .services_card p {
    font-size: 15px;
  }

  .services_card {
    height: 350px;
    width: 300px;
    transition: none;
  }

  .services_img {
    margin-top: -100px;
  }

  .services_img_4 {
    padding-top: -50px;
    margin-top: -250px;
    margin-bottom: -25px;
  }
}
